@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  box-sizing: border-box;
}

.max-w-75 {
  max-width: 75%;
}
.max-w-66 {
  max-width: 66.66%;
}
.max-w-50 {
  max-width: 50%;
}
.max-w-33 {
  max-width: 33.33%;
}
.max-w-25 {
  max-width: 25%;
}
.max-w-20 {
  max-width: 20%;
}
.max-w-10 {
  max-width: 10%;
}

.max-h-75 {
  max-height: 75%;
}
.max-h-66 {
  max-height: 66.66%;
}
.max-h-50 {
  max-height: 50%;
}
.max-h-33 {
  max-height: 33.33%;
}
.max-h-25 {
  max-height: 25%;
}
.max-h-20 {
  max-height: 20%;
}
.max-h-10 {
  max-height: 10%;
}

.radio__frequency-display {
  font-family: 'Orbitron', sans-serif;
}

.radio__volume-knob > span {
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 5px white, 0 0 15px white, 0 0 25px white;
  font-size: 3rem;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.muteIcon::before {
  font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f6a9";
}


.slider::before {
  background: linear-gradient(
    0deg, #525252 0%, #373737 100%
  );
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0px -20px 20px #757575,
    0px 20px 35px #111111,
    inset 0px 5px 6px #979797,
    inset 0px -5px 6px #242424;
}

.slider::before, .knob {
  width: 10em;
  height: 10em;
  position: relative;
}

/* .knob::before, */
.knob::after,
.slider::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}

/* .knob::before {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px #349beb;
} */

.knob::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  width: 130%;
  height: 130%;
  box-shadow: 0px 0px 10px #349beb,
    inset 0px 0px 10px #349beb;
}

/* .tick {
  top: 15px;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 0px 10px #349beb;
  position: absolute;
  border-radius: 50%;
  z-index: 20;
  height: 10px !important;
  width: 10px !important;


  0px 0px 10px #349beb
} */

div.knob.radio__volume-knob > span:first-of-type {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px #349beb, inset 0px 0px 4px #2195ee;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
}
